
leituras-janeiro2002-junho2024.xlsx
Leituras-Monjolo.xlsx
__pycache__
modules/__pycache__
Instrumento-02-09-2024-123421.xlsx
2298_Medicoes-de-Instrumentos-02-09-2024-093611.xlsb
leituras-janeiro2002-agosto2024.xlsx
*.xlsx
*.ipynb
